In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#import Libraries
import findspark
findspark.init('./spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession 
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext
import pyspark.sql.functions as F

In [3]:
# sc = SparkContext()
conf = SparkConf().setAppName("pySparkMerge").setMaster("local")
sc = SparkContext.getOrCreate(conf=conf)

In [4]:
sc.version
sc.pythonVer

'2.1.1'

'3.7'

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import pickle
import seaborn as sns
sns.set()

In [6]:
##CREATING "SPARKSESSION" from existing "SPARKCONTEXT"
sqlContext = SQLContext(sc)
spark = sqlContext.sparkSession

In [7]:
c1 = spark.read.csv("./KaggleV2-May-2016-d1.csv", header=True)
print(c1.show(2))
print((c1.count(), len(c1.columns)))
print(c1.select(F.countDistinct("PatientId")).show())

+-----------+-----------+------------+--------+----------+-------+
|  PatientId|Scholarship|Hipertension|Diabetes|Alcoholism|Handcap|
+-----------+-----------+------------+--------+----------+-------+
|2.98725E+13|          0|           1|       0|         0|      0|
|5.58998E+14|          0|           0|       0|         0|      0|
+-----------+-----------+------------+--------+----------+-------+
only showing top 2 rows

None
(110527, 6)
+-------------------------+
|count(DISTINCT PatientId)|
+-------------------------+
|                    61744|
+-------------------------+

None

In [8]:
c2 = spark.read.csv("./KaggleV2-May-2016-d2.csv", header=True)
print(c2.show(2))
print((c2.count(), len(c2.columns)))

# print(c2.select("PatientId").distinct().show())
print(c2.select(F.countDistinct("PatientId")).show())

+-----------+-------------+------+--------------------+--------------------+---+---------------+------------+-------+
|  PatientId|AppointmentID|Gender|        ScheduledDay|      AppointmentDay|Age|  Neighbourhood|SMS_received|No-show|
+-----------+-------------+------+--------------------+--------------------+---+---------------+------------+-------+
|2.98725E+13|      5642903|     F|2016-04-29T18:38:08Z|2016-04-29T00:00:00Z| 62|JARDIM DA PENHA|           0|     No|
|5.58998E+14|      5642503|     M|2016-04-29T16:08:27Z|2016-04-29T00:00:00Z| 56|JARDIM DA PENHA|           0|     No|
+-----------+-------------+------+--------------------+--------------------+---+---------------+------------+-------+
only showing top 2 rows

None
(110527, 9)
+-------------------------+
|count(DISTINCT PatientId)|
+-------------------------+
|                    61744|
+-------------------------+

None

In [9]:
###rename the column
c1 = c1.withColumnRenamed('PatientId', 'PatientId_x')
c2 = c2.withColumnRenamed('PatientId', 'PatientId_y')

In [10]:
import pyspark.sql.functions as sparkf
from pyspark.sql.functions import col

# This will return a new DF with all the columns + id

c1 = c1.withColumn('id', sparkf.monotonically_increasing_id())
c2 = c2.withColumn('id', sparkf.monotonically_increasing_id())

## MERGE FILES FROM DIFFERENT SOURCES
# Same index from both file
merged = c1.join(c2, c1.id == c2.id, 'left').drop(c2.id)
merged.show(4)
print(merged.count(), len(merged.columns))

+-----------+-----------+------------+--------+----------+-------+---+-----------+-------------+------+--------------------+--------------------+---+-----------------+------------+-------+---+
|PatientId_x|Scholarship|Hipertension|Diabetes|Alcoholism|Handcap| id|PatientId_y|AppointmentID|Gender|        ScheduledDay|      AppointmentDay|Age|    Neighbourhood|SMS_received|No-show| id|
+-----------+-----------+------------+--------+----------+-------+---+-----------+-------------+------+--------------------+--------------------+---+-----------------+------------+-------+---+
|2.98725E+13|          0|           1|       0|         0|      0|  0|2.98725E+13|      5642903|     F|2016-04-29T18:38:08Z|2016-04-29T00:00:00Z| 62|  JARDIM DA PENHA|           0|     No|  0|
|5.58998E+14|          0|           0|       0|         0|      0|  1|5.58998E+14|      5642503|     M|2016-04-29T16:08:27Z|2016-04-29T00:00:00Z| 56|  JARDIM DA PENHA|           0|     No|  1|
|4.26296E+12|          0|           0|       0|         0|      0|  2|4.26296E+12|      5642549|     F|2016-04-29T16:19:04Z|2016-04-29T00:00:00Z| 62|    MATA DA PRAIA|           0|     No|  2|
|8.67951E+11|          0|           0|       0|         0|      0|  3|8.67951E+11|      5642828|     F|2016-04-29T17:29:31Z|2016-04-29T00:00:00Z|  8|PONTAL DE CAMBURI|           0|     No|  3|
+-----------+-----------+------------+--------+----------+-------+---+-----------+-------------+------+--------------------+--------------------+---+-----------------+------------+-------+---+
only showing top 4 rows

110527 17

In [11]:
# Drop the splits column
merged = merged.drop('PatientId_y')
merged = merged.drop('id')
merged = merged.withColumnRenamed('PatientId_x', 'PatientId')
merged.columns

['PatientId',
 'Scholarship',
 'Hipertension',
 'Diabetes',
 'Alcoholism',
 'Handcap',
 'AppointmentID',
 'Gender',
 'ScheduledDay',
 'AppointmentDay',
 'Age',
 'Neighbourhood',
 'SMS_received',
 'No-show']

In [12]:
merged.write.csv('./KaggleV2-chart.csv', header=True)

In [13]:
df0 = spark.read.csv("./KaggleV2-chart.csv/", header=True)

print(df0.count(), )
print((df0.count(), len(df0.columns)))

df0.columns

110527
(110527, 14)

['PatientId',
 'Scholarship',
 'Hipertension',
 'Diabetes',
 'Alcoholism',
 'Handcap',
 'AppointmentID',
 'Gender',
 'ScheduledDay',
 'AppointmentDay',
 'Age',
 'Neighbourhood',
 'SMS_received',
 'No-show']

In [14]:
## INITIAL VIEW ON DATA ## descripe in pyspark
summary1A = df0.describe().show()
print(summary1A)
print(df0.printSchema())
# print(df0.summary().show())

+-------+--------------------+-------------------+-------------------+-------------------+--------------------+--------------------+-----------------+------+--------------------+--------------------+------------------+-------------+-------------------+-------+
|summary|           PatientId|        Scholarship|       Hipertension|           Diabetes|          Alcoholism|             Handcap|    AppointmentID|Gender|        ScheduledDay|      AppointmentDay|               Age|Neighbourhood|       SMS_received|No-show|
+-------+--------------------+-------------------+-------------------+-------------------+--------------------+--------------------+-----------------+------+--------------------+--------------------+------------------+-------------+-------------------+-------+
|  count|              110527|             110527|             110527|             110527|              110527|              110527|           110527|110527|              110527|              110527|            110527|       110527|             110468| 110527|
|   mean|1.474962664134735...|0.09826558216544373| 0.1972459218109602|0.07186479321794674|0.030399811810688793|0.022247957512643968|5675305.123426855|  null|                null|                null| 37.08887421173107|         null| 0.3210250932396712|   null|
| stddev|2.560949221912867...| 0.2976747541093073|0.39792134994708606|0.25826507350746536|  0.1716855554142438|  0.1615427258142786|  71295.751539677|  null|                null|                null|23.110204963682676|         null|0.46687252639272864|   null|
|    min|         1.11115E+13|                  0|                  0|                  0|                   0|                   0|          5030230|     F|2015-11-10T07:13:56Z|2016-04-29T00:00:00Z|                -1|    AEROPORTO|                  0|     No|
|    max|         99991756798|                  1|                  1|                  1|                   1|                   4|          5790484|     M|2016-06-08T20:07:23Z|2016-06-08T00:00:00Z|                99|   VILA RUBIM|                  1|    Yes|
+-------+--------------------+-------------------+-------------------+-------------------+--------------------+--------------------+-----------------+------+--------------------+--------------------+------------------+-------------+-------------------+-------+

None
root
 |-- PatientId: string (nullable = true)
 |-- Scholarship: string (nullable = true)
 |-- Hipertension: string (nullable = true)
 |-- Diabetes: string (nullable = true)
 |-- Alcoholism: string (nullable = true)
 |-- Handcap: string (nullable = true)
 |-- AppointmentID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- ScheduledDay: string (nullable = true)
 |-- AppointmentDay: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Neighbourhood: string (nullable = true)
 |-- SMS_received: string (nullable = true)
 |-- No-show: string (nullable = true)

None

In [15]:
## CHECK ANY MISSING VALUSE
### Get count of both null and missing values in pyspark
from pyspark.sql.functions import isnan, when, count, col
print( df0.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df0.columns]).show() )

# No. of missing value in the 'SMS_received'
df0.where(col('SMS_received').isNull()).count()

# Percentage of missing value in the 'SMS_received'
df0.where(col('SMS_received').isNull()).count()/df0.count()*100

+---------+-----------+------------+--------+----------+-------+-------------+------+------------+--------------+---+-------------+------------+-------+
|PatientId|Scholarship|Hipertension|Diabetes|Alcoholism|Handcap|AppointmentID|Gender|ScheduledDay|AppointmentDay|Age|Neighbourhood|SMS_received|No-show|
+---------+-----------+------------+--------+----------+-------+-------------+------+------------+--------------+---+-------------+------------+-------+
|        0|          0|           0|       0|         0|      0|            0|     0|           0|             0|  0|            0|          59|      0|
+---------+-----------+------------+--------+----------+-------+-------------+------+------------+--------------+---+-------------+------------+-------+

None

59

0.05338062192948329

In [16]:
# df0.printSchema()
df0.show(2)
from pyspark.sql.types import IntegerType
df0 = df0.withColumn("Scholarship", df0["Scholarship"].cast(IntegerType()))
df0 = df0.withColumn("Hipertension", df0["Hipertension"].cast(IntegerType()))
df0 = df0.withColumn("Diabetes", df0["Diabetes"].cast(IntegerType()))
df0 = df0.withColumn("Alcoholism", df0["Alcoholism"].cast(IntegerType()))
df0 = df0.withColumn("Handcap", df0["Handcap"].cast(IntegerType()))
df0 = df0.withColumn("AppointmentID", df0["AppointmentID"].cast(IntegerType()))
df0 = df0.withColumn("Age", df0["Age"].cast(IntegerType()))
df0 = df0.withColumn("SMS_received", df0["SMS_received"].cast(IntegerType()))
df0.printSchema()

+-----------+-----------+------------+--------+----------+-------+-------------+------+--------------------+--------------------+---+---------------+------------+-------+
|  PatientId|Scholarship|Hipertension|Diabetes|Alcoholism|Handcap|AppointmentID|Gender|        ScheduledDay|      AppointmentDay|Age|  Neighbourhood|SMS_received|No-show|
+-----------+-----------+------------+--------+----------+-------+-------------+------+--------------------+--------------------+---+---------------+------------+-------+
|2.98725E+13|          0|           1|       0|         0|      0|      5642903|     F|2016-04-29T18:38:08Z|2016-04-29T00:00:00Z| 62|JARDIM DA PENHA|           0|     No|
|5.58998E+14|          0|           0|       0|         0|      0|      5642503|     M|2016-04-29T16:08:27Z|2016-04-29T00:00:00Z| 56|JARDIM DA PENHA|           0|     No|
+-----------+-----------+------------+--------+----------+-------+-------------+------+--------------------+--------------------+---+---------------+------------+-------+
only showing top 2 rows

root
 |-- PatientId: string (nullable = true)
 |-- Scholarship: integer (nullable = true)
 |-- Hipertension: integer (nullable = true)
 |-- Diabetes: integer (nullable = true)
 |-- Alcoholism: integer (nullable = true)
 |-- Handcap: integer (nullable = true)
 |-- AppointmentID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- ScheduledDay: string (nullable = true)
 |-- AppointmentDay: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Neighbourhood: string (nullable = true)
 |-- SMS_received: integer (nullable = true)
 |-- No-show: string (nullable = true)

In [17]:
df0['PatientId','Hipertension'].show()

+-----------+------------+
|  PatientId|Hipertension|
+-----------+------------+
|2.98725E+13|           1|
|5.58998E+14|           0|
|4.26296E+12|           0|
|8.67951E+11|           0|
|8.84119E+12|           1|
|9.59851E+13|           1|
|7.33688E+14|           0|
|3.44983E+12|           0|
|5.63947E+13|           0|
|7.81246E+13|           0|
|7.34536E+14|           0|
|7.54295E+12|           0|
|5.66655E+14|           0|
|9.11395E+14|           0|
|9.98847E+13|           0|
|99948393975|           0|
|8.45744E+13|           0|
| 1.4795E+13|           0|
|1.71354E+13|           0|
|7.22329E+12|           0|
+-----------+------------+
only showing top 20 rows

In [18]:
df0 = df0.toPandas()

In [19]:
print(df0)

          PatientId  Scholarship  Hipertension  Diabetes  Alcoholism  Handcap  \
0       2.98725E+13            0             1         0           0        0
1       5.58998E+14            0             0         0           0        0
2       4.26296E+12            0             0         0           0        0
3       8.67951E+11            0             0         0           0        0
4       8.84119E+12            0             1         1           0        0
5       9.59851E+13            0             1         0           0        0
6       7.33688E+14            0             0         0           0        0
7       3.44983E+12            0             0         0           0        0
8       5.63947E+13            0             0         0           0        0
9       7.81246E+13            0             0         0           0        0
10      7.34536E+14            0             0         0           0        0
11      7.54295E+12            0             0         0           0        0
12      5.66655E+14            1             0         0           0        0
13      9.11395E+14            0             0         0           0        0
14      9.98847E+13            0             0         0           0        0
15      99948393975            0             0         0           0        0
16      8.45744E+13            0             0         0           0        0
17       1.4795E+13            1             0         0           0        0
18      1.71354E+13            1             0         0           0        0
19      7.22329E+12            0             0         0           0        0
20      6.22257E+14            0             0         0           0        0
21      1.21548E+13            0             0         0           0        0
22       8.6323E+14            0             0         0           0        0
23      2.13754E+14            0             0         0           0        0
24      8.73486E+12            0             0         0           0        0
25      5.81937E+12            0             1         0           0        0
26      25787851512            0             1         0           0        0
27      1.21548E+13            0             0         0           0        0
28      5.92617E+12            0             0         0           0        0
29      1.22578E+12            0             0         0           0        0
...             ...          ...           ...       ...         ...      ...
110497  7.93589E+14            0             0         0           0        0
110498  9.43365E+13            0             0         0           0        0
110499  8.21969E+14            0             1         1           0        0
110500  4.43438E+14            0             0         0           0        0
110501  4.54425E+11            0             0         0           0        0
110502  7.31623E+14            0             0         0           0        0
110503  2.36218E+13            0             0         0           0        0
110504  9.94798E+12            0             0         0           0        0
110505  5.66734E+13            0             0         0           0        0
110506  8.97388E+11            0             0         0           0        0
110507  4.76946E+14            0             0         0           0        0
110508  9.43365E+13            0             0         0           0        0
110509  4.95297E+14            0             0         0           0        0
110510  2.36218E+13            0             0         0           0        0
110511    8.236E+11            0             0         0           0        0
110512  9.87625E+13            0             0         0           0        0
110513  8.67478E+13            0             0         0           0        0
110514  2.69569E+12            0             0         0           0        0
110515  6.45634E+14            0             1         0           0        0
110516  6.92377E+13            0             0         0           0        0
110517  5.57494E+12            0             0         0           0        0
110518  7.26331E+13            0             0         0           0        0
110519  6.54239E+13            0             0         0           0        0
110520  9.96998E+14            0             0         0           0        0
110521  3.63553E+13            0             0         0           0        0
110522  2.57213E+12            0             0         0           0        0
110523  3.59627E+12            0             0         0           0        0
110524  1.55766E+13            0             0         0           0        0
110525  9.21349E+13            0             0         0           0        0
110526  3.77512E+14            0             0         0           0        0

        AppointmentID Gender          ScheduledDay        AppointmentDay  Age  \
0             5642903      F  2016-04-29T18:38:08Z  2016-04-29T00:00:00Z   62
1             5642503      M  2016-04-29T16:08:27Z  2016-04-29T00:00:00Z   56
2             5642549      F  2016-04-29T16:19:04Z  2016-04-29T00:00:00Z   62
3             5642828      F  2016-04-29T17:29:31Z  2016-04-29T00:00:00Z    8
4             5642494      F  2016-04-29T16:07:23Z  2016-04-29T00:00:00Z   56
5             5626772      F  2016-04-27T08:36:51Z  2016-04-29T00:00:00Z   76
6             5630279      F  2016-04-27T15:05:12Z  2016-04-29T00:00:00Z   23
7             5630575      F  2016-04-27T15:39:58Z  2016-04-29T00:00:00Z   39
8             5638447      F  2016-04-29T08:02:16Z  2016-04-29T00:00:00Z   21
9             5629123      F  2016-04-27T12:48:25Z  2016-04-29T00:00:00Z   19
10            5630213      F  2016-04-27T14:58:11Z  2016-04-29T00:00:00Z   30
11            5620163      M  2016-04-26T08:44:12Z  2016-04-29T00:00:00Z   29
12            5634718      F  2016-04-28T11:33:51Z  2016-04-29T00:00:00Z   22
13            5636249      M  2016-04-28T14:52:07Z  2016-04-29T00:00:00Z   28
14            5633951      F  2016-04-28T10:06:24Z  2016-04-29T00:00:00Z   54
15            5620206      F  2016-04-26T08:47:27Z  2016-04-29T00:00:00Z   15
16            5633121      M  2016-04-28T08:51:47Z  2016-04-29T00:00:00Z   50
17            5633460      F  2016-04-28T09:28:57Z  2016-04-29T00:00:00Z   40
18            5621836      F  2016-04-26T10:54:18Z  2016-04-29T00:00:00Z   30
19            5640433      F  2016-04-29T10:43:14Z  2016-04-29T00:00:00Z   46
20            5626083      F  2016-04-27T07:51:14Z  2016-04-29T00:00:00Z   30
21            5628338      F  2016-04-27T10:50:45Z  2016-04-29T00:00:00Z    4
22            5616091      M  2016-04-25T13:29:16Z  2016-04-29T00:00:00Z   13
23            5634142      F  2016-04-28T10:27:05Z  2016-04-29T00:00:00Z   46
24            5641780      F  2016-04-29T14:19:19Z  2016-04-29T00:00:00Z   65
25            5624020      M  2016-04-26T15:04:17Z  2016-04-29T00:00:00Z   46
26            5641781      F  2016-04-29T14:19:42Z  2016-04-29T00:00:00Z   45
27            5628345      F  2016-04-27T10:51:45Z  2016-04-29T00:00:00Z    4
28            5642400      M  2016-04-29T15:48:02Z  2016-04-29T00:00:00Z   51
29            5642186      F  2016-04-29T15:16:29Z  2016-04-29T00:00:00Z   32
...               ...    ...                   ...                   ...  ...
110497        5757745      M  2016-06-01T09:46:33Z  2016-06-01T00:00:00Z   76
110498        5787655      F  2016-06-08T10:21:14Z  2016-06-08T00:00:00Z   59
110499        5757697      F  2016-06-01T09:42:56Z  2016-06-01T00:00:00Z   66
110500        5787233      F  2016-06-08T09:35:13Z  2016-06-08T00:00:00Z   59
110501        5758133      M  2016-06-01T10:19:12Z  2016-06-01T00:00:00Z   44
110502        5787937      F  2016-06-08T10:50:42Z  2016-06-08T00:00:00Z   22
110503        5759473      F  2016-06-01T13:00:36Z  2016-06-01T00:00:00Z   64
110504        5788052      F  2016-06-08T11:06:21Z  2016-06-08T00:00:00Z    4
110505        5758455      F  2016-06-01T10:45:50Z  2016-06-01T00:00:00Z   55
110506        5758779      M  2016-06-01T11:09:20Z  2016-06-01T00:00:00Z    5
110507        5786918      F  2016-06-08T09:04:18Z  2016-06-08T00:00:00Z    0
110508        5757656      F  2016-06-01T09:41:00Z  2016-06-01T00:00:00Z   59
110509        5786750      M  2016-06-08T08:50:51Z  2016-06-08T00:00:00Z   33
110510        5757587      F  2016-06-01T09:35:48Z  2016-06-01T00:00:00Z   64
110511        5786742      F  2016-06-08T08:50:20Z  2016-06-08T00:00:00Z   14
110512        5786368      F  2016-06-08T08:20:01Z  2016-06-08T00:00:00Z   41
110513        5785964      M  2016-06-08T07:52:55Z  2016-06-08T00:00:00Z    2
110514        5786567      F  2016-06-08T08:35:31Z  2016-06-08T00:00:00Z   58
110515        5778621      M  2016-06-06T15:58:05Z  2016-06-08T00:00:00Z   33
110516        5780205      F  2016-06-07T07:45:16Z  2016-06-08T00:00:00Z   37
110517        5780122      F  2016-06-07T07:38:34Z  2016-06-07T00:00:00Z   19
110518        5630375      F  2016-04-27T15:15:06Z  2016-06-07T00:00:00Z   50
110519        5630447      F  2016-04-27T15:23:14Z  2016-06-07T00:00:00Z   22
110520        5650534      F  2016-05-03T07:51:47Z  2016-06-07T00:00:00Z   42
110521        5651072      F  2016-05-03T08:23:40Z  2016-06-07T00:00:00Z   53
110522        5651768      F  2016-05-03T09:15:35Z  2016-06-07T00:00:00Z   56
110523        5650093      F  2016-05-03T07:27:33Z  2016-06-07T00:00:00Z   51
110524        5630692      F  2016-04-27T16:03:52Z  2016-06-07T00:00:00Z   21
110525        5630323      F  2016-04-27T15:09:23Z  2016-06-07T00:00:00Z   38
110526        5629448      F  2016-04-27T13:30:56Z  2016-06-07T00:00:00Z   54

            Neighbourhood  SMS_received No-show
0         JARDIM DA PENHA           0.0      No
1         JARDIM DA PENHA           0.0      No
2           MATA DA PRAIA           0.0      No
3       PONTAL DE CAMBURI           0.0      No
4         JARDIM DA PENHA           0.0      No
5               REP?BLICA           0.0      No
6              GOIABEIRAS           0.0     Yes
7              GOIABEIRAS           0.0     Yes
8              ANDORINHAS           0.0      No
9               CONQUISTA           0.0      No
10         NOVA PALESTINA           0.0      No
11         NOVA PALESTINA           1.0     Yes
12         NOVA PALESTINA           0.0      No
13         NOVA PALESTINA           0.0      No
14         NOVA PALESTINA           0.0      No
15         NOVA PALESTINA           1.0      No
16         NOVA PALESTINA           0.0      No
17              CONQUISTA           0.0     Yes
18         NOVA PALESTINA           1.0      No
19               DA PENHA           0.0      No
20         NOVA PALESTINA           0.0     Yes
21              CONQUISTA           0.0     Yes
22              CONQUISTA           1.0     Yes
23              CONQUISTA           0.0      No
24             TABUAZEIRO           0.0      No
25              CONQUISTA           1.0      No
26         BENTO FERREIRA           0.0      No
27              CONQUISTA           0.0      No
28              S?O PEDRO           NaN      No
29           SANTA MARTHA           NaN      No
...                   ...           ...     ...
110497        MARIA ORTIZ           0.0      No
110498        MARIA ORTIZ           0.0      No
110499        MARIA ORTIZ           0.0      No
110500        MARIA ORTIZ           0.0      No
110501        MARIA ORTIZ           0.0      No
110502         GOIABEIRAS           0.0      No
110503       SOLON BORGES           0.0      No
110504        MARIA ORTIZ           0.0      No
110505        MARIA ORTIZ           0.0      No
110506        MARIA ORTIZ           0.0      No
110507        MARIA ORTIZ           0.0      No
110508        MARIA ORTIZ           0.0      No
110509        MARIA ORTIZ           0.0      No
110510       SOLON BORGES           0.0      No
110511        MARIA ORTIZ           0.0      No
110512        MARIA ORTIZ           0.0      No
110513    ANT?NIO HON?RIO           0.0      No
110514        MARIA ORTIZ           0.0      No
110515        MARIA ORTIZ           0.0     Yes
110516        MARIA ORTIZ           0.0     Yes
110517        MARIA ORTIZ           0.0      No
110518        MARIA ORTIZ           1.0      No
110519        MARIA ORTIZ           1.0      No
110520        MARIA ORTIZ           1.0      No
110521        MARIA ORTIZ           1.0      No
110522        MARIA ORTIZ           1.0      No
110523        MARIA ORTIZ           1.0      No
110524        MARIA ORTIZ           1.0      No
110525        MARIA ORTIZ           1.0      No
110526        MARIA ORTIZ           1.0      No

[110527 rows x 14 columns]

In [20]:
#Variable Summary - Gender
summary1C = df0.groupby('Gender').size()
summary1C
levels = np.sort(df0['Gender'].unique()) 
df0.Gender.value_counts()[levels].plot(kind='bar')

Gender
F    71840
M    38687
dtype: int64

In [21]:
#Variable Summary - Others
df0.hist(figsize=(12,10))

summary1D = df0.groupby('PatientId').size()
summary1D

summary1D = df0.groupby('AppointmentID').size()
summary1D

summary1E = df0.groupby('ScheduledDay').size()
summary1E

summary1F = df0.groupby('AppointmentDay').size()
summary1F

summary1G = df0.groupby('Neighbourhood').size()
summary1G

summary1I = df0.groupby('Age').size()
summary1I

summary1J = df0.groupby('Scholarship').size()
summary1J

summary1K = df0.groupby('Hipertension').size()
summary1K

summary1L = df0.groupby('Diabetes').size()
summary1L

summary1M = df0.groupby('Alcoholism').size()
summary1M

summary1N = df0.groupby('Handcap').size()
summary1N

summary1O = df0.groupby('SMS_received').size()
summary1O

summary1P = df0.groupby('No-show').size()
summary1P
plt.hist(df0['No-show'], bins=len(df0['No-show'].unique()),rwidth=0.5)

PatientId
1.11115E+13     1
1.11125E+14     2
1.11145E+13     1
1.11162E+13     1
1.11163E+12     3
1.11185E+12     1
1.11196E+12     1
1.11238E+13     1
1.11266E+13     1
1.11277E+12     1
1.11285E+12     1
1.11296E+14     1
1.11311E+11     2
1.11316E+12     1
1.11321E+13     1
1.11345E+14     1
1.11346E+14     2
1.11368E+14     1
1.11374E+14     1
1.11416E+14     4
1.1143E+12      1
1.11456E+13     1
1.11463E+13     2
1.11469E+14     1
1.11523E+14     1
1.11525E+12     1
1.11525E+13     1
1.11526E+12     4
1.11536E+11     1
1.11547E+11     1
               ..
99512431        1
995277946       2
99575164442     1
99612449681     1
99612996974     1
9961417576      1
99637671331    84
99637837716     1
99638668487     2
99676396336     5
99679785292     2
99682621349     1
99686781928     1
99716715215     4
99718131773     2
99728164173     2
997421611       1
99761723841     2
997694529       3
99777928223     1
99813573358     2
99821629648     2
99834588263     1
99838843772     1
9984717667      1
9986111759      1
99878214357     1
99941478935     2
99948393975     1
99991756798     3
Length: 61744, dtype: int64

AppointmentID
5030230    1
5122866    1
5134197    1
5134220    1
5134223    1
5134224    1
5134227    1
5134228    1
5134233    1
5134239    1
5134243    1
5134249    1
5139826    1
5139831    1
5139832    1
5139834    1
5139839    1
5139848    1
5139853    1
5139857    1
5139859    1
5139864    1
5140065    1
5140069    1
5140074    1
5140081    1
5140090    1
5140100    1
5140105    1
5140112    1
          ..
5790245    1
5790248    1
5790275    1
5790284    1
5790287    1
5790292    1
5790319    1
5790322    1
5790330    1
5790351    1
5790352    1
5790355    1
5790358    1
5790362    1
5790364    1
5790367    1
5790369    1
5790370    1
5790372    1
5790376    1
5790377    1
5790416    1
5790434    1
5790447    1
5790452    1
5790461    1
5790464    1
5790466    1
5790481    1
5790484    1
Length: 110527, dtype: int64

ScheduledDay
2015-11-10T07:13:56Z    1
2015-12-03T08:17:28Z    1
2015-12-07T10:40:59Z    1
2015-12-07T10:42:42Z    1
2015-12-07T10:43:01Z    1
2015-12-07T10:43:17Z    1
2015-12-07T10:43:34Z    1
2015-12-07T10:43:50Z    1
2015-12-07T10:44:07Z    1
2015-12-07T10:44:25Z    1
2015-12-07T10:44:40Z    1
2015-12-07T10:45:01Z    1
2015-12-08T13:30:21Z    1
2015-12-08T13:30:41Z    1
2015-12-08T13:31:04Z    1
2015-12-08T13:31:21Z    1
2015-12-08T13:31:45Z    1
2015-12-08T13:32:14Z    1
2015-12-08T13:32:34Z    1
2015-12-08T13:33:09Z    1
2015-12-08T13:33:28Z    1
2015-12-08T13:33:50Z    1
2015-12-08T13:58:50Z    1
2015-12-08T13:59:33Z    1
2015-12-08T14:00:52Z    1
2015-12-08T14:01:28Z    1
2015-12-08T14:02:04Z    1
2015-12-08T14:02:31Z    1
2015-12-08T14:03:00Z    1
2015-12-08T14:03:23Z    1
                       ..
2016-06-08T17:23:59Z    1
2016-06-08T17:24:34Z    1
2016-06-08T17:37:08Z    1
2016-06-08T17:42:29Z    1
2016-06-08T17:45:18Z    1
2016-06-08T17:50:25Z    1
2016-06-08T18:07:30Z    1
2016-06-08T18:09:45Z    1
2016-06-08T18:15:52Z    1
2016-06-08T18:20:04Z    1
2016-06-08T18:20:13Z    1
2016-06-08T18:21:20Z    1
2016-06-08T18:21:46Z    1
2016-06-08T18:24:25Z    1
2016-06-08T18:25:45Z    1
2016-06-08T18:28:07Z    1
2016-06-08T18:28:21Z    1
2016-06-08T18:28:35Z    1
2016-06-08T18:30:42Z    1
2016-06-08T18:34:10Z    1
2016-06-08T18:34:11Z    1
2016-06-08T18:52:20Z    1
2016-06-08T19:02:15Z    1
2016-06-08T19:08:20Z    1
2016-06-08T19:14:25Z    1
2016-06-08T19:32:25Z    1
2016-06-08T19:32:56Z    1
2016-06-08T19:33:23Z    1
2016-06-08T19:58:52Z    1
2016-06-08T20:07:23Z    1
Length: 103549, dtype: int64

AppointmentDay
2016-04-29T00:00:00Z    3235
2016-05-02T00:00:00Z    4376
2016-05-03T00:00:00Z    4256
2016-05-04T00:00:00Z    4168
2016-05-05T00:00:00Z    4273
2016-05-06T00:00:00Z    3879
2016-05-09T00:00:00Z    4520
2016-05-10T00:00:00Z    4308
2016-05-11T00:00:00Z    4474
2016-05-12T00:00:00Z    4394
2016-05-13T00:00:00Z    3987
2016-05-14T00:00:00Z      39
2016-05-16T00:00:00Z    4613
2016-05-17T00:00:00Z    4372
2016-05-18T00:00:00Z    4373
2016-05-19T00:00:00Z    4270
2016-05-20T00:00:00Z    3828
2016-05-24T00:00:00Z    4009
2016-05-25T00:00:00Z    3909
2016-05-30T00:00:00Z    4514
2016-05-31T00:00:00Z    4279
2016-06-01T00:00:00Z    4464
2016-06-02T00:00:00Z    4310
2016-06-03T00:00:00Z    4090
2016-06-06T00:00:00Z    4692
2016-06-07T00:00:00Z    4416
2016-06-08T00:00:00Z    4479
dtype: int64

Neighbourhood
AEROPORTO                 8
ANDORINHAS             2262
ANT?NIO HON?RIO         271
ARIOVALDO FAVALESSA     282
BARRO VERMELHO          423
BELA VISTA             1907
BENTO FERREIRA          858
BOA VISTA               312
BONFIM                 2773
CARATO?RA              2565
CENTRO                 3334
COMDUSA                 310
CONQUISTA               849
CONSOLA??O             1376
CRUZAMENTO             1398
DA PENHA               2217
DE LOURDES              305
DO CABRAL               560
DO MOSCOSO              413
DO QUADRO               849
ENSEADA DO SU?          235
ESTRELINHA              538
FONTE GRANDE            682
FORTE S?O JO?O         1889
FRADINHOS               258
GOIABEIRAS              700
GRANDE VIT?RIA         1071
GURIGICA               2018
HORTO                   175
ILHA DAS CAIEIRAS      1071
                       ...
PARQUE INDUSTRIAL         1
PARQUE MOSCOSO          802
PIEDADE                 452
PONTAL DE CAMBURI        69
PRAIA DO CANTO         1035
PRAIA DO SU?           1288
REDEN??O               1553
REP?BLICA               835
RESIST?NCIA            4431
ROM?O                  2215
S?O BENEDITO           1439
S?O CRIST?V?O          1836
S?O JOS?               1977
S?O PEDRO              2448
SANTA CEC?LIA           448
SANTA CLARA             506
SANTA HELENA            178
SANTA L?CIA             438
SANTA LU?ZA             428
SANTA MARTHA           3131
SANTA TEREZA           1332
SANTO ANDR?            2571
SANTO ANT?NIO          2746
SANTOS DUMONT          1276
SANTOS REIS             547
SEGURAN?A DO LAR        145
SOLON BORGES            469
TABUAZEIRO             3132
UNIVERSIT?RIO           152
VILA RUBIM              851
Length: 81, dtype: int64

Age
-1         1
 0      3539
 1      2273
 2      1618
 3      1513
 4      1299
 5      1489
 6      1521
 7      1427
 8      1424
 9      1372
 10     1274
 11     1195
 12     1092
 13     1103
 14     1118
 15     1211
 16     1402
 17     1509
 18     1487
 19     1545
 20     1437
 21     1452
 22     1376
 23     1349
 24     1242
 25     1332
 26     1283
 27     1377
 28     1448
        ...
 73      725
 74      602
 75      544
 76      571
 77      527
 78      541
 79      390
 80      511
 81      434
 82      392
 83      280
 84      311
 85      275
 86      260
 87      184
 88      126
 89      173
 90      109
 91       66
 92       86
 93       53
 94       33
 95       24
 96       17
 97       11
 98        6
 99        1
 100       4
 102       2
 115       5
Length: 104, dtype: int64

Scholarship
0    99666
1    10861
dtype: int64

Hipertension
0    88726
1    21801
dtype: int64

Diabetes
0    102584
1      7943
dtype: int64

Alcoholism
0    107167
1      3360
dtype: int64

Handcap
0    108286
1      2042
2       183
3        13
4         3
dtype: int64

SMS_received
0.0    75005
1.0    35463
dtype: int64

No-show
No     88208
Yes    22319
dtype: int64

In [22]:
## Count Plot to see the distribution of individual variable and 'No-show' variable
sns.countplot('PatientId', data=df0, hue='No-show')
sns.countplot('Scholarship', data=df0, hue='No-show')
sns.countplot('Hipertension', data=df0, hue='No-show')
sns.countplot('Diabetes', data=df0, hue='No-show')
sns.countplot('Alcoholism', data=df0, hue='No-show')
sns.countplot('Handcap', data=df0, hue='No-show')
sns.countplot('Gender', data=df0, hue='No-show')
sns.countplot('AppointmentDay', data=df0, hue='No-show')
sns.countplot('Age', data=df0, hue='No-show')
sns.countplot('Neighbourhood', data=df0, hue='No-show')
sns.countplot('SMS_received', data=df0, hue='No-show')

In [23]:
## Violin Plot to see the categorical data 
sns.catplot(data=df0, kind="violin", x="Gender", y="Hipertension", hue="No-show", split=True)
sns.catplot(data=df0, kind="violin", x="Gender", y="Diabetes", hue="No-show", split=True)#
sns.catplot(data=df0, kind="violin", x="Gender", y="Alcoholism", hue="No-show", split=True)
sns.catplot(data=df0, kind="violin", x="Gender", y="Handcap", hue="No-show", split=True)
sns.catplot(data=df0, kind="violin", x="Gender", y="AppointmentID", hue="No-show", split=True)
sns.catplot(data=df0, kind="violin", x="Gender", y="Age", hue="No-show", split=True)
sns.catplot(data=df0, kind="violin", x="Gender", y="SMS_received", hue="No-show", split=True)

sns.catplot(data=df0, kind="violin", x="SMS_received", y="Hipertension", hue="No-show", split=True)
sns.catplot(data=df0, kind="violin", x="SMS_received", y="Diabetes", hue="No-show", split=True)
sns.catplot(data=df0, kind="violin", x="SMS_received", y="Alcoholism", hue="No-show", split=True)
sns.catplot(data=df0, kind="violin", x="SMS_received", y="Handcap", hue="No-show", split=True)
sns.catplot(data=df0, kind="violin", x="SMS_received", y="AppointmentID", hue="No-show", split=True)
sns.catplot(data=df0, kind="violin", x="SMS_received", y="Age", hue="No-show", split=True)